<div class="card mb-3">
  <h3 class="card-header"><div class="linear-background" style="width:15%; height:15px"></div></h3>
  <div class="card-body">
    <h5 class="card-title"><div class="linear-background" style="width:40%; height:15px"></div></h5>
    <h6 class="card-subtitle text-muted"><div class="linear-background" style="width:90%; height:15px"></div></h6>
    <div class="linear-background" style="width:25%; height:15px;margin-top:5px;"></div>

  </div>
  <div class="card-footer text-muted">
      <div class="linear-background" style="width:20%; height:15px"></div>
  </div>
</div>

