.navbar_item_color{
    color: #776060;
    cursor: pointer;
}
.navbar_item_color:hover{

    color: #3b0104;
    text-decoration: none;
}

.navbar {
    min-height: 40px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
    
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 18.5px;
      padding-bottom: 18.5px;
      line-height: 20px;
      
    }
  }


.welcome_nav{
    border-bottom: 5px solid #ff1017;
    /*background-color: rgb(65, 11, 88);*/
    background-color: white;
    box-shadow: 0 16px 26px 0 rgba(0, 0, 0, 0.2), 0 6px 26px 0 rgba(0, 0, 0, 0.19);
    
}

.welcome_nav_elements{
    color: #F1C9FA;
}
.company_title{
    color: #F1C9FA
}
.company_title:hover{
    color: #F1C9FA
}

.password_change_div{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.password_change_content_div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    display: block;
    box-shadow: 2px 2px 3px #aaaaaa;
    background-color:white;
    border: 1px solid rgb(196, 195, 195);
    border-radius: 4px;
    width: 600px;
    height: 320px;
}

.invalid-form-control{
    
    /*border-color: red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px  red;*/
    border: 1px solid #dbdbdb;
    background: white url("/assets/icons/exclamation-mark.svg") no-repeat scroll 3px 3px;
    background-size: 30px;
    padding-left:40px;
}

.form-control:focus {
    border-color: #f87e82;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
  }
