



<div>
  
  
  <div class="main_div">
    
      <nav class="navbar navbar-expand-lg navbar-light welcome_nav">
          <a class="navbar-brand navbar_item_color"  [routerLink]="['/']">
            <div class="logo_crop">
                <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo">
            </div>
            
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
          </div>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <button class="btn my-2 my-sm-0 nav_button" onclick="self.close()">Got it</button>
          </div>

        </nav>

        <div class="body_div">
          <h1>Terms of Service</h1>
          
          <br/>
          
          <h5>Welcome to Checkarr</h5>
          <br/>
          <p>These Terms govern your use of Checkarr and the products, features, apps, services, technologies and software that we offer (the Checkarr Products or Products), except where we expressly state that separate Terms (and not these) apply. </p>

          <h2>1. Our services</h2>
          <br/>
          <p>Our mission is to give people the power to build a community where they can contribute their part in earch other's life. To help to achieve this mission, we provide the products and services described below to you:</p>

          <br/>
          <p class="statement_box">
            <strong>Provide a personalised experience for you:</strong>
            <br/>
            We use the data we have - for example, about the connections you make, the choices and settings you select, and what you share and do on and off our Products - to personalise your experience.
          </p>
          
          <br/>
          <p class="statement_box">
            <strong>Connect you with people and organisations that you care about:</strong>
            <br/>
            Stronger ties make for better communities, and we believe that our services are most useful when people are connected to people, groups and organisations that they care about. 
          </p>

          <br/>
          <p class="statement_box">
            <strong>Help you discover content, products and services that may interest you:</strong>
            <br/>
            We show you ads, offers and other sponsored content to help you discover content, products and services that are offered by the many businesses and organisations that use Checkarr and other Checkarr Products. Our partners pay us to show their content to you, and we design our services so that the sponsored content you see is as relevant and useful to you as everything else that you see on our Products. 
          </p>

          <br/>
          <p class="statement_box">
            <strong>Combat harmful conduct, and protect and support our community:</strong>
            <br/>
            People will only build community on Checkarr if they feel safe. We employ dedicated teams and develop advanced technical systems to detect misuse of our Products, harmful conduct towards others and situations where we may be able to help support or protect our community. If we learn of content or conduct like this, we will take appropriate action – for example, offering help, removing content, blocking access to certain features, disabling an account or contacting law enforcement.
          </p>

          <br/>
          <p class="statement_box">
            <strong>Research ways to make our services better:</strong>
            <br/>
            We engage in research and collaborate with others to improve our Products. One way we do this is by analysing the data we have and understanding how people use our Products. 
          </p>

          <br/>
          <p class="statement_box">
            <strong>Enable global access to our services:</strong>
            <br/>
            To operate our global service, we need to store and distribute content and data in our data centres and systems around the world, including outside your country of residence. This infrastructure may be operated or controlled by Checkarr or its affiliates. 
          </p>

          <br/>
          <h2>2. Our Data Policy and your privacy choices</h2>
          <br/>
          <p>To provide these services, we must collect and use your personal data. We detail our practices in the Data Policy, which you must agree to in order to use our Products.

            We also encourage you to review the privacy choices that you have in your settings. </p>

          <br/>

          <h2>3. Your commitments to Checkarr and our community </h2>  
          <br/>
          <p>
            We provide these services to you and others to help advance our mission. In exchange, we need you to make the following commitments:  
          </p>

          <br/>
          <p class="statement_box">
            <strong>1. Who can use Checkarr</strong>
            <br/>
            When people stand behind their opinions and actions, our community is safer and more accountable. For that reason, you must: 
            <br/>
            <br/>
              <li>Use the same name that you use in everyday life.</li>
              <li>Provide accurate information about yourself.</li>
              <li>Create only one account (your own) and use your account for personal purposes.</li>
              <li>Not share your password, give access to your Checkarr account to others or transfer your account to anyone else (without our permission).</li>
            <br/>
            We try to make Checkarr broadly available to everyone, but you cannot use Checkarr if: 
            <br/>
            <br/>
              <li>You are under 13 years old (or the minimum legal age in your country to use our Products).</li>
              <li>You are a convicted sex offender.</li>
              <li>We previously disabled your account for violations of our terms or policies.</li>
              <li>You are prohibited from receiving our products, services or software under applicable laws.</li>
            
          </p>


          
          <br/>
          <p class="statement_box">
            <strong>2. What you can do on Checkarr</strong>
            <br/>
            We want people to use Checkarr to express themselves and to share or suggest content that is important to them, but not at the expense of the safety and well-being of others or the integrity of our community. You therefore agree not to engage in the conduct described below (or to facilitate or support others in doing so): 
            <br/>
            <br/>
            1. You may not use or Products to do or share anything:
            <br/>
            <br/>
            <li>That breaches these Terms, our Community Standards and other Terms and Policies that apply to your use of Checkarr</li>
            <li>That is unlawful, misleading, discriminatory or fraudulent.</li>
            <li>That infringes or breaches someone else's rights.</li>
            
            <br/>
            2. You may not upload viruses or malicious code, or do anything that could disable, overburden or impair the proper working or appearance of our Products.
            <br/>
            You may not access or collect data from our Products using automated means (without our prior permission) or attempt to access data that you do not have permission to access.
            <br/>
            <br/>
            We can remove content that you share in breach of these provisions and, if applicable, we may take action against your account, for the reasons described below. We may also disable your account if you repeatedly infringe other people's intellectual property rights.
            <br/><br/>
            To help support our community, we encourage you to report content or conduct that you believe breaches your rights (including intellectual property rights) or our Terms and Policies. 
          </p>


          <br/>
          <p class="statement_box">
            <strong>3. The permissions you give us</strong>
            <br/>
            We need certain permissions from you to provide our services: 
            <br/>
            <br/>
            1. <u>Permission to use content that you create and share:</u> You own the content that you create and share on Checkarr and the other Checkarr Products you use, and nothing in these Terms takes away the rights that you have to your own content. You are free to share your content with anyone else, wherever you want. To provide our services though, we need you to give us some legal permissions to use that content. 
            <br/><br/>

            Specifically, when you share, suggest, post or upload content that is covered by intellectual property rights (e.g. photos or videos) on or in connection with our Products, you grant us a non-exclusive, transferable, sub-licensable, royalty-free and worldwide licence to host, use, distribute, modify, run, copy, publicly perform or display, translate and create derivative works of your content (consistent with your privacy and application settings). This means, for example, that if you share a photo on Checkarr, you give us permission to store, copy and share it with others (again, consistent with your settings) such as service providers that support our service or other Checkarr Products that you use. 
          
            <br/>
            <br/>
            You can end this licence any time by deleting your content or account. You should know that, for technical reasons, any content that you delete may persist for a limited period of time in backup copies (though it will not be visible to other users). In addition, content you delete may continue to appear if you have shared it with others and they have not deleted it.
            <br/><br/>
            2. <u>Permission to use your name, profile picture and information about your actions with ads and sponsored content:</u> You give us permission to use your name and profile picture and information about actions that you have taken on Checkarr next to or in connection with ads, offers and other sponsored content that we display across our Products, without any compensation to you. For example, we may show your fans that you are interested in an advertised event or have followed brand that has paid us to display its ads on Checkarr. Ads like this can be seen only by people who have your permission to see the actions that you've taken on Checkarr.
            ‏<br/><br>
            3. <u>Permission to update software that you use or download:</u>  If you download or use our software, you give us permission to download and install upgrades, updates and additional features to improve, enhance and further develop it. 
          </p>

          <br/>
          <p class="statement_box">
            <strong>4. Limits on using our intellectual property</strong>
            <br/>
            If you use content covered by intellectual property rights that we have and make available in our Products (for example, images, designs, videos or sounds that we provide, which you add to content you create or suggest on Checkarr), we retain all rights to that content (but not yours). You can only use our copyrights or trademarks (or any similar marks) as expressly permitted by our Brand Usage Guidelines or with our prior written permission. You must obtain our written permission (or permission under an open source licence) to modify, create derivative works of, decompile or otherwise attempt to extract source code from us. 
          </p>

          <br/>

          <h2>4. Additional provisions</h2>
          <br/>

          <br/>
          <p class="statement_box">
            <strong>1. Updating our Terms</strong>
            <br/>
            We work constantly to improve our services and develop new features to make our Products better for you and our community. As a result, we may need to update these Terms from time to time to accurately reflect our services and practices. Unless otherwise required by law, we will notify you before we make changes to these Terms and give you an opportunity to review them before they go into effect. Once any updated Terms are in effect, you will be bound by them if you continue to use our Products. 

            <br/><br/>
            We hope that you will continue using our Products, but if you do not agree to our updated Terms and no longer want to be a part of the Checkarr community, you can delete your account at any time. 
          </p>


          <br/>
          <p class="statement_box">
            <strong>2. Account suspension or termination</strong>
            <br/>
            We want Checkarr to be a place where people feel welcome and safe to express themselves and share their thoughts and ideas. 
            <br/><br/>
            If we determine that you have violated our terms or policies, we may take action against your account to protect our community and services, including by suspending access to your account or disabling it. We may also suspend or disable your account if you create risk or legal exposure for us or when we are permitted or required to do so by law. Where appropriate, we will notify you about your account the next time you try to access it.
            <br/><br/>
            If you delete or we disable your account, these Terms shall terminate as an agreement between you and us.
          </p>


          <br/>
          <p class="statement_box">
            <strong>3. Limits on liability</strong>
            <br/>

            We work hard to provide the best Products we can and to specify clear guidelines for everyone who uses them. Our Products, however, are provided "as is", and we make no guarantees that they will always be safe, secure or error-free, or that they will function without disruptions, delays or imperfections. To the extent permitted by law, we also DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. We do not control or direct what people and others do or say, and we are not responsible for their actions or conduct (whether online or offline) or any content that they share (including offensive, inappropriate, obscene, unlawful and other objectionable content). 
            <br/><br/>
            We cannot predict when issues may arise with our Products. Accordingly, our liability shall be limited to the fullest extent permitted by applicable law, and under no circumstances will we be liable to you for any lost profits, revenues, information or data, or consequential, special, indirect, exemplary, punitive or incidental damages arising out of or related to these Terms or the Checkarr Products, even if we have been advised of the possibility of such damages. 

          </p>
          <p style="float:right;padding-right: 10%;">Date of last revision: 23 June 2018</p>

          <br/>
          <h1>Cookies & other storage technologies</h1>
          <br/>

          <p>
            Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones and other devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. In this policy, we refer to all of these technologies as "cookies." 
            <br/>
            <br/>
            We use cookies if you have a Checkarr account, use the Checkarr Products, including our website and apps, or visit other websites and apps that use the Checkarr Products (including the Like button or other Checkarr Technologies). Cookies enable Checkarr to offer the Checkarr Products to you and to understand the information we receive about you, including information about your use of other websites and apps, whether or not you are registered or logged in. 
          </p>

          <br/>
         

        </div>
        
    
        <div style="width: 100%;text-align: right;margin-left: -10%;">
          <p style="font-size: 10px;padding-bottom: 150px;">Made in Pakistan - Checkarr © 2018</p>
      </div>
  </div>
  


   

</div>



