


<div [hidden]="!pageLoading" class="pageLoadingDiv">
    <img src="/assets/images/loader.gif" alt="loading.." class="loader_gif">
    <h4 class="loader_msg">making a connection between us.. <div style="color:red;">♥</div></h4>
</div>

<div [hidden]="!noInternet" class="noInternetDiv">
    <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo" style="margin-left: 30px;margin-top:20px">
    <img src="/assets/images/no-internet.png" class="noInternetImage">
    <div class="noInternetMsgDiv">
        <h2 class="noInternetMsg">We are unable to connect our services</h2>
        <p>Either there is some problem is your internet connection or our servers are not responding at the moment</p>
        <button class="btn btn-primary" onclick="location.reload();">Try again</button>
    </div>
    
  </div>
  
<div [hidden]="pageLoading || noInternet">

<div>
  
  
  <div class="main_div">
    


  

    
      <nav class="navbar navbar-expand-lg navbar-light welcome_nav">
          <a class="navbar-brand navbar_item_color"  [routerLink]="['/']">
            <div class="logo_crop">
                <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo">
            </div>
            
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active" style="margin-top:18px; font-weight: bold;" >
                <a placement="bottom" ngbTooltip="Forgot password?" (click)="onHelpButtonClick(accountRecoveryModal)" ><h6 class="navbar_item_color" style="margin-top:10px">assistance</h6></a>
              </li>
             
            </ul>

            
            <form class="form-inline my-2 my-lg-0" novalidate (ngSubmit)="onLoginTry(loginForm)" #loginForm="ngForm">
              <input class="form-control mr-sm-2 input_control"
                     type="text" 
                     placeholder="Email"
                     ngModel
                     name="email"
                     required
                     pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                     #emailControl="ngModel"
                     [ngClass]="{'invalid-form-control': (emailControl.dirty && !emailControl.valid)}"
                     >
                     
              <input class="form-control mr-sm-2 input_control" 
                    type="password" 
                    placeholder="Password"
                    ngModel
                    name="password"
                    minlength="6"
                    required
                    #passwordControl="ngModel"
                    [ngClass]="{'invalid-form-control': (emailControl.dirty && passwordControl.touched && !passwordControl.valid)}"
                    >
              <button class="btn my-2 my-sm-0 nav_button" [disabled]="!loginForm.valid" type="submit">Login</button>
            
            </form>
          </div>
        </nav>
        <div *ngIf="loginError" style="position: fixed;width: 100%;" class="alert alert-warning alert-dismissible">
          <div [innerHTML]="loginErrorHtml"></div>
          {{loginErrorMessage}} 
        </div>
        <div *ngIf="userNotFoundError" style="position: fixed;width: 100%;" class="alert alert-warning alert-dismissible">
            
          This email is not associated with any account, please register account
      </div>
        <div *ngIf="connectionError" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Unable to connect</strong> - Either there is some problem with internet or server is not responding
        </div>
        



    <div class="main_message_div">
        <h1 class="main_message">Be aware, do your share!</h1>
        <p class="main_message_detail">Share your experience, thoughts or creativity with others and let them be your fans</p>
        <button class="btn register_button" (click)="onClickRegister()">Register</button>
    </div>

    <div class="container">
      <img src="\assets\images\welcome_page\android.png"/>
      <img src="\assets\images\welcome_page\apple.png"/>
    </div>
   
    
  </div>
  

  
    

  
  <div class="footer">
      <p style="font-size: 10px; padding-top: 10px;">Made in Pakistan - Checkarr © 2018 - <u style="cursor:pointer"><a target="_blank" href="http://localhost:4200/terms-and-policy" class="footer-color">Terms</a></u> - <u style="cursor:pointer"><a target="_blank" href="http://localhost:4200/terms-and-policy" class="footer-color">Data Policy</a></u> - <u style="cursor:pointer"><a target="_blank" href="http://localhost:4200/terms-and-policy" class="footer-color">Cookie Policy</a></u></p>
  </div>

  <div class="image_credit_div">
    {{photo_credit}}
  </div>

   <div class="loading_screen" [hidden]="!loginTry">
    <div class="loading_box">
      <h5 style="margin-top: 15%;">Verifying your details...</h5>
      <div class="loading_icon"></div>
      <h4>Please Wait</h4>
    </div>
  </div>

</div>
</div>


<!-- Modal Recovery -->
<ng-template id="#accountRecoveryModal" #accountRecoveryModal let-c="close" let-dc = "d('Cross click')" let-d="dismiss">
  
    <div class="modal-header">
      <h5 class="modal-title" id="recoveryModalLongTitle">Account Recovery</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeRecoveryModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ngb-progressbar [hidden]="!modalProgressBar" type="danger" [value]="100" [striped]="true" [animated]="true" height="6px"></ngb-progressbar>

    <div *ngIf="recoveryEmailError" style="width: 100%;" class="alert alert-danger alert-dismissible">
        {{recoveryEmailErrorMessage}}
    </div>
    <div class="modal-body">
        <h5>We will help you to get back to your account</h5>
        <p style="margin-top: 10px;">You just need to provide us the email that you used during the registration process so that we can send you further instructions.</p>
        
        <input class="form-control mr-sm-2 input_control"
          type="text" 
          placeholder="Recovery Email"
          ngModel
          name="email"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          #emailRecoveryControl="ngModel"
          [ngClass]="{'invalid-form-control': (emailRecoveryControl.dirty && !emailRecoveryControl.valid)}"
          style="width: 100%;"
          >


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" [disabled]="!emailRecoveryControl.valid || modalProgressBar" (click)="sendRecoveryMail(emailRecoveryControl.value, recoveryCodeModal)">Recover my account</button>
      </div>
  </ng-template>





<!-- Modal Recovery Code-->
<ng-template #recoveryCodeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="recoveryCodeModalLongTitle">Recovery code</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeRecoveryCodeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ngb-progressbar [hidden]="!modalProgressBar" type="danger" [value]="100" [striped]="true" [animated]="true" height="6px"></ngb-progressbar>

    <div *ngIf="recoveryCodeError" style="width: 100%;" class="alert alert-warning alert-dismissible">
        {{recoveryCodeErrorMessage}}
    </div>
    <div class="modal-body">

        

      <p>Email has been sent to <b>{{currentRecoveryEmail}}</b> with the recovery instructions.</p>
      <input class="form-control mr-sm-2 input_control"
        type="text" 
        placeholder="Recovery Code"
        ngModel
        name="recoveryCode"
        required
        #recoveryCodeControl="ngModel"
        [ngClass]="{'invalid-form-control': (recoveryCodeControl.dirty && !recoveryCodeControl.valid)}"
        style="width: 40%;font-size: 18px"
        >


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" [disabled]="!recoveryCodeControl.valid  || modalProgressBar" (click)="verifyRecoveryCode(recoveryCodeControl.value)">Verify</button>
    </div>
  </ng-template>




