<div [hidden]="false" class="Div404">
    <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo" style="margin-left: 30px;margin-top:20px">
    
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 text-center">
            <div class="col-sm-12 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center ">404</h1>
            
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
            Look like you're lost
            </h3>
            
            <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
			<a class="not_found_button" routerLink="">Back to homepage</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    
  </div>