.Div404{
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background-color: white;
}

.Image404{
    margin-bottom: 10px;
    margin-top: 7%;
    display: block;
    
    width: 100px;
    height: 100px;
}

.MsgDiv404{
    margin-top: 7%;
    width: 400px;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 80vh;
  }
  
  #notfound .notfound {
    position: relative;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    height: 190px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
  }
  
  .notfound .notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('/assets/images/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    z-index: -1;
  }
  
  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
  }
  
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
  }
  
  
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 115px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h1>span {
      width: 86px;
      height: 86px;
    }
  }
  
  /*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Montserrat', sans-serif;width: 100%;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(/assets/images/404.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
    .contant_box_404{ margin-top:-50px;}
    

    .not_found_button {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        padding: 12px 30px;
        font-weight: 700;
        background-color: #f99827;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
      }
      
      .not_found_button:hover {
        opacity: 0.8;
      }