<div [hidden]="this.accountService.isTokenValidationComplete" style="z-index: 99;" class="pageLoadingDiv">
  <img src="/assets/images/loader.gif" alt="loading.." class="loader_gif">
  <h4 class="loader_msg">making a connection between us.. <div style="color:red;">♥</div></h4>
</div>

<div [hidden]="!this.accountService.networkProblem" style="z-index: 99;" class="noInternetDiv">
<img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo" style="margin-left: 30px;margin-top:20px">
<img src="/assets/images/emoji.png" class="noInternetImage">
<div class="noInternetMsgDiv">
    <h2 class="noInternetMsg">Hmm.. we are having trouble connecting you with our awesomeness</h2>
    <p>Why did this happen?</p>
    <ul>
      <li>Our servers are just too busy for our own good.</li>
      <li>The internet broke.</li>
      <li>We had a little hiccup.</li>
    </ul>
    <a class="not_found_button" onclick="location.reload();">Try again</a>
</div>

</div>