<div [hidden]="this.accountService.isTokenValidationComplete" style="z-index: 99;" class="pageLoadingDiv">
  <img src="/assets/images/loader.gif" alt="loading.." class="loader_gif">
  <h4 class="loader_msg">making a connection between us.. <div style="color:red;">♥</div></h4>
</div>

<div [hidden]="!this.accountService.networkProblem" style="z-index: 99;" class="noInternetDiv">
<img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo" style="margin-left: 30px;margin-top:20px">
<img src="/assets/images/no-internet.png" class="noInternetImage">
<div class="noInternetMsgDiv">
    <h2 class="noInternetMsg">We are unable to connect our services</h2>
    <p>Either there is some problem is your internet connection or our servers are not responding at the moment</p>
    <button class="btn btn-primary" onclick="location.reload();">Try again</button>
</div>

</div>