

<div class="card">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Welcome!</strong> Now you can improve your social experience through selecting various categories. If you like a post then don't forget to trend it so it can make to the top! <i class="fa fa-thumbs-up"></i> 
    </div>
    <div class="card-body">
      

<ul class="left-menu" style="margin-left: -10px;">
  <li class="profile_menu_icon"> Profile</li>
  <li class="suggestion_menu_icon">Suggestions <span class="badge badge-pill badge-warning" style="font-size:14px;margin-left: 7px;">5</span></li>
  <li class="trend_menu_icon">Trend List <span class="badge badge-secondary">New</span></li>
  <li class="fan_menu_icon">Fans</li>
</ul>

<hr/>
<p class="footer">Help - Terms - Ads <br/>Checkarr © 2018</p>

</div></div>
