<app-loading></app-loading>

<div *ngIf="this.accountService.isTokenValidationComplete && !this.accountService.networkProblem">
  <div>


    <nav class="navbar fixed-top navbar-expand-lg navbar-light welcome_nav">
      <a class="navbar-brand navbar_item_color" [routerLink]="['/']">
        <div class="logo_crop">
          <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo">
        </div>

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li style="width: 20px"></li>

          <li style="width: 18px"></li>
          <li placement="bottom" ngbTooltip="Fan" class="mt-2" style="cursor: pointer;">
              <div style="margin-top: 8px;margin-left:-10px;position: absolute;">
                  <span style="opacity: 0.8; font-size:10px;" class="badge badge-danger">14</span>
              </div>
                <i class="fa fa-user-plus" style="font-size: 24px"></i>
            </li>
          
          <li style="width: 18px"></li>
          <li placement="bottom" ngbTooltip="Notification" class="mt-2" style="cursor: pointer;" >
              <div style="margin-top: 8px;margin-left:-7px;position: absolute;">
                  <span style="opacity: 0.8; font-size:10px;" class="badge badge-danger">9</span>
            </div>
              <i class="fa fa-bell" style="font-size: 24px"></i>
          </li>

          <li style="width: 18px"></li>
          <li placement="bottom" ngbTooltip="Message" class="mt-2" style="cursor: pointer;">
              <div style="margin-top: 8px;margin-left:-10px;position: absolute;">
                  <span style="opacity: 0.8; font-size:10px;" class="badge badge-danger">14</span>
              </div>
                <i class="fa fa-comments" style="font-size: 24px"></i>
            </li>

          <li style="width: 18px" class="separator"></li>
          <li style="width: 30px"></li>

          <div class="input-group">
            <input type="text" class="form-control" style="border-radius: 25px 0px 0px 25px;" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search_button" style="border-radius: 0px 25px 25px 0px;" type="button">

               <!-- <div class="search_icon_div"></div>-->
               <i class="fa fa-search"></i>

              </button>
            </div>
          </div>






        </ul>

        <button class="btn btn-link navbar_username" style="border-color: transparent;margin-right: 10px">Home</button>

        <!--
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-link navbar_username" id="nameDropdown" ngbDropdownToggle>Nouman Arshad</button>
          <div ngbDropdownMenu class="name_dropdown_menu" aria-labelledby="nameDropdown">
            <button class="dropdown-item">Profile</button>
            <button class="dropdown-item">Settings and privacy</button>
            <button class="dropdown-item" (click)="logout()">Log out</button>
          </div>
        </div>
        -->

    <div class="btn-group" dropdown>
      <button id="nav_btn" dropdownToggle type="button" class="btn btn-link navbar_username dropdown-toggle"
              aria-controls="dropdown-basic">
              Nouman Arshad <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-2"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-user-circle "></i> Profile</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a>
        </li>
      </ul>
    </div>



        <div placement="bottom" ngbTooltip="Profile" class="navbar_profile_image_div"></div>



      </div>
    </nav>
  </div>


  <div style="width: 100%; height: 80px"></div>
  <!-- CHANGE THIS *ngIf="!this.accountService.isUserAccountActivated" -->

  <div *ngIf="!this.accountService.isUserAccountActivated" style="margin-top:-20px;position: fixed;width: 1344px; text-align: center"
    class="alert alert-warning">
    Unverified accounts are automatically removed after some duration. Please
    <strong>
      <a (click)="accountVerificationClick(accountVerificationModal)" style="text-decoration: none;cursor: pointer;">
        <u>verify</u>
      </a>
    </strong> your account to get best out of our services
  </div>
  <div *ngIf="!this.accountService.isUserAccountActivated" style="width: 100%; height: 50px;"></div>


  <div style="margin-top: -10px; width: 80%;">
    <app-left-main class="leftpane"></app-left-main>
    <app-middle-main class="middlepane"></app-middle-main>
    <app-right-main class="rightpane"></app-right-main>
  </div>




  <!-- Modal Account Verification -->
  <ng-template id="#accountVerificationModal" #accountVerificationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="verificationModalLongTitle">Account Verification</h5>
      
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ngb-progressbar [hidden]="!verificationModalProgressBar" type="danger" [value]="100" [striped]="true" [animated]="true"
      height="6px"></ngb-progressbar>
    <div *ngIf="accountVerificationError" style="width: 100%;" class="alert alert-danger alert-dismissible">
      {{accountVerificationErrorMessage}}
    </div>
    <div class="modal-body">

      <p> Verification email has been sent to
        <b>{{this.accountService.USER_EMAIL}}</b>
      </p>



      <div class="input-group">

        <div class="col-xs-4">
          <input class="form-control" type="text" placeholder="Verification code" ngModel name="verficationCode" required #verificationCodeControl="ngModel"
            [ngClass]="{'invalid-form-control': (verificationCodeControl.dirty && !verificationCodeControl.valid)}" style="font-size: 18px">
        </div>
        <span class="input-group-btn">
          <button (click)="resendActivationMail()" type="button" [disabled]="resendActivationMailCountdown/1000 > 0 || verificationModalProgressBar"
            style="margin-left: 10px" class="btn btn-info">{{resendButtonText}}</button>
        </span>
      </div>





    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" [disabled]="!verificationCodeControl.valid || verificationModalProgressBar"
        (click)="verifyActivationCode(verificationCodeControl.value)">Verify</button>
    </div>
  </ng-template>

</div>