<div [hidden]="!pageLoading" class="pageLoadingDiv">
    <img src="/assets/images/loader.gif" alt="loading.." class="loader_gif">
    <h4 class="loader_msg">making a connection between us.. <div style="color:red;">♥</div></h4>
</div>

<div [hidden]="!noInternet" class="noInternetDiv">
  <img src="/assets/images/Checkarr_logo_transparent.png" class="main_logo" style="margin-left: 30px;margin-top:20px">
  <img src="/assets/images/no-internet.png" class="noInternetImage">
  <div class="noInternetMsgDiv">
      <h2 class="noInternetMsg">We are unable to connect our services</h2>
      <p>Either there is some problem is your internet connection or our servers are not responding at the moment</p>
      <button class="btn btn-primary" onclick="location.reload();">Try again</button>
  </div>
  
</div>

<div [hidden]="pageLoading || noInternet">
    
  
    <div *ngIf="true" style="position: fixed;width: 100%; text-align: center" class="alert alert-warning">
        Unverified accounts are automatically removed after some duration. Please <strong><a (click)="accountVerificationClick(accountVerificationModal)" style="text-decoration: none;cursor: pointer;"><u>verify</u></a></strong> your account to get best out of our services
    </div>

    <p>
        This is home..
      </p>
      
      <button (click)="logout()">Log out</button>      
</div>



<!-- Modal Recovery -->
<ng-template id="#accountVerificationModal" #accountVerificationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="verificationModalLongTitle">Account Verification</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="recoveryEmailError" style="width: 100%;" class="alert alert-danger alert-dismissible">
        {{recoveryEmailErrorMessage}}
    </div>
    <div class="modal-body">
      
        <p>An email containing the verification code was sent to you during the registration process. Please follow the instructions in the email to get your account verified.</p>
          

        
          <div class="input-group">
              
              <div class="col-xs-4">
                <input class="form-control"
              type="text" 
              placeholder="Verification code"
              ngModel
              name="verficationCode"
              required
              #verificationCodeControl="ngModel"
              [ngClass]="{'invalid-form-control': (verificationCodeControl.dirty && !verificationCodeControl.valid)}"
              style="font-size: 18px"
              >
            </div>
              <span class="input-group-btn">
                  <button type="button" style="margin-left: 10px" class="btn btn-info">Resend email</button>
              </span>
          </div>


        


      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" [disabled]="!verificationCodeControl.valid" (click)="verifyRecoveryCode(recoveryCodeControl.value)">Verify</button>
        </div>
  </ng-template>


<!-- Modal Account Verification-->
<ng-template #accountVerificationMoadal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" id="accountVerificationModalLongTitle">Account verification</h5>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="accountVerificationError" style="width: 100%;" class="alert alert-warning alert-dismissible">
            {{accountVerificationErrorMessage}}
        </div>
        <div class="modal-body">
    
            
    
          <p>An email containing the verification code was sent to you during the registration process. Please follow the instructions in the email to get your account verified.</p>
          <button type="button" class="btn btn-info">Resend verification email</button>
          <input class="form-control mr-sm-2 input_control"
            type="text" 
            placeholder="Verification code"
            ngModel
            name="verficationCode"
            required
            #verifcationCodeControl="ngModel"
            [ngClass]="{'invalid-form-control': (verificationCodeControl.dirty && !verificationCodeControl.valid)}"
            style="width: 40%;font-size: 18px"
            >
    
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" [disabled]="!verificationCodeControl.valid" (click)="verifyRecoveryCode(recoveryCodeControl.value)">Verify</button>
        </div>
      </ng-template>

      