@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/dist/materia/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';

.default_background{
    background-color: #f0e6e6;
}

.root_division{
    width: 1348px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}

.logo_crop{
    width: 248px;
    height: 55px;
    margin-top: -2px;
    margin-left: 20px;
    overflow: hidden;
}

.main_logo{
  display: block;
  margin-top: 0%;
  margin-left: 0%;
  max-width:250px;
  max-height:295px;
  width: auto;
  height: auto;
  clip: rect(0px,0px,0px,0px);
}

.loading_screen{
    
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}

.loading_box{
    position: relative;
   margin: auto;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    width: 500px;
    height: 250px;
    top: 25%;
    text-align: center;
    

}
.loading_icon{
   background-image: url('/assets/icons/progress_dots.gif');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100%;
   width: 80px;
   height: 50px;
   margin: auto;
}


.loading_icon_2{
    background-image: url('/assets/icons/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    margin: auto;
 }



.loader_msg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    text-align: center;
    display: block;
}
.loader_gif{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: block;
    
    width: 100px;
    height: 110px;
}

.pageLoadingDiv{
    z-index: 10;
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background-color: white;
}

.noInternetDiv{
    z-index: 10;
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.noInternetImage{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;
    
    width: 100px;
    height: 100px;
}

.noInternetMsgDiv{
    margin-top: 20px;
    width: 600px;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #a8a8a8;
    background: linear-gradient(to right, #e0e0e0 8%, #c5c5c5 18%, #e0e0e0 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
}

.linear-background-dark {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #a8a8a8;
    background: linear-gradient(to right, #666666 8%, #9c9c9c 18%, #666666 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
}