@import '~bootstrap/dist/css/bootstrap.min.css';

.default_background{
    background-color: #f7f2f2;
}

.root_division{
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}