@import '~bootstrap/dist/css/bootstrap.min.css';

.default_background{
    background-color: #f0e6e6;
}

.root_division{
    width: 1344px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}

.logo_crop{
    width: 248px;
    height: 55px;
    margin-top: -2px;
    margin-left: 20px;
    overflow: hidden;
}

.main_logo{
  display: block;
  margin-top: 0%;
  margin-left: 0%;
  max-width:250px;
  max-height:295px;
  width: auto;
  height: auto;
  clip: rect(0px,0px,0px,0px);
}

.loading_screen{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100%;
}

.loading_box{
    position: relative;
   margin: auto;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    width: 500px;
    height: 250px;
    top: 25%;
    text-align: center;
    

}
.loading_icon{
   background-image: url('/assets/icons/progress_dots.gif');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100%;
   width: 80px;
   height: 50px;
   margin: auto;
}

.loader_msg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    text-align: center;
    display: block;
}
.loader_gif{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: block;
    
    width: 100px;
    height: 110px;
}

.pageLoadingDiv{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.noInternetDiv{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.noInternetImage{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    display: block;
    
    width: 100px;
    height: 100px;
}

.noInternetMsgDiv{
    margin-top: 20px;
    width: 600px;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}