<!-- <div class="post">
  <div class="options"></div>
  <p class="main_title">Wow this burger king deal is so amazing!! i ha value for money was 100% highly recommended... !!!! </p>
  <div class="place"><b>Burger King Multan</b></div>
  <img class="image" src="/assets/images/main/test_post.jpg">
  <div class="footer">Nouman Arshad - Aug 4, 2018 11:00 PM<br/> <span style="font-size: 11px;">231 loves - 12 comments - 200 suggestions</span></div>
  <hr/>
  <div class="love"> <div class="love_icon">Love</div></div>
  <div class="comment">Comment</div>
  <div class="suggest">Suggest</div>
</div> 

-->

<div class="card mb-3">
    <h3 class="card-header"><i class="fa fa-cutlery"></i></h3>
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-location-arrow" style="padding-right:8px;"></i>  Burger King Multan</h5>
      <h6 class="card-subtitle text-muted">Wow this burger king deal is so amazing!! i ha value for money was 100% highly recommended... !!!! </h6>
    </div>
    <img class="image" src="/assets/images/main/test_post.jpg" alt="Post">
    <div class="card-body">
      <p class="card-text">231 trends • 12 comments • 200 suggestions</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div style="margin-top: 10px">
            <div class="comment"> <i class="fa fa-angle-double-up "></i> Trend</div>
            <div class="comment"><i class="far fa-comment" style="font-size:20px;margin-right:6px;"></i>Comment</div>
            <div class="suggest"><i class="fas fa-broadcast-tower "></i> Suggest</div>
        </div>
      </li>
    </ul>
    <div class="card-footer" style="padding-top:20px">
          Nouman Arshad • <i class="far fa-calendar-alt"></i> 2 min • <i class="fas fa-globe"></i> public
          <img [src]="this.accountService.dp_url" onError="this.src='/assets/images/default-profile.jpg';" style="margin-top:-6px" alt="" class="avatar">  
    </div>
  </div>

 