<div class="post">
  <div class="options"></div>
  <p class="main_title">Wow this burger king deal is so amazing!! i ha value for money was 100% highly recommended... !!!! </p>
  <div class="place"><b>Burger King Multan</b></div>
  <img class="image" src="/assets/images/main/test_post.jpg">
  <div class="footer">Nouman Arshad - Aug 4, 2018 11:00 PM<br/> <span style="font-size: 11px;">231 loves - 12 comments - 200 suggestions</span></div>
  <hr/>
  <div class="love"> <div class="love_icon">Love</div></div>
  <div class="comment">Comment</div>
  <div class="suggest">Suggest</div>
</div>

